/* CSS Document */
.asistanttitle
{
    font-size : 14px;
    font-weight : bold;
    color : rgb(0 , 51 , 102);
    text-decoration : underline;
    font-family : Arial , Helvetica , sans-serif;
}
.actualstepnumber
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
}
.actualstepnumber a:link
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
    Text-decoration : none;
}
.actualstepnumber a:visited
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
    Text-decoration : none;
}
.actualsteptitle
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
}
.actualsteptitle a:link
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
    Text-decoration : none;
}
.actualsteptitle a:visited
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
    Text-decoration : none;
}
.nonactualstepnumber
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(204 , 204 , 204);
}
.nonactualstepnumber a:link
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(204 , 204 , 204);
    Text-decoration : none;
}
.nonactualstepnumber a:visited
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(204 , 204 , 204);
    Text-decoration : none;
}
.nonactualstepnumber a:hover
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 27px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
    Text-decoration : underline;
}
.nonactualsteptitle
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(204 , 204 , 204);
}
.nonactualsteptitle a:link
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(204 , 204 , 204);
	Text-decoration : none;
}
.nonactualsteptitle a:visited
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(204 , 204 , 204);
	Text-decoration : none;
}
.nonactualsteptitle a:hover
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 10px;
    font-weight : bold;
    color : rgb(255 , 255 , 255);
    Text-decoration : underline;
}
.stetptitle
{
    font-family : Arial , Helvetica , sans-serif;
    font-size : 14px;
    font-weight : bold;
    color : rgb(153 , 0 , 0);
}

.greenfieldset fieldset
{	margin-top:0; 
	border: 1px solid #b5d7de;

	width:500px;
	padding: 15px;
}

.greenfieldset legend
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: normal;
	color: #000000;
	background-color: #b5d7de;
	border: 1px solid #b5d7de;
	padding: 1px 6px
} 

.innerError {
    background-image: url(../images/invalid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 1px;
    color:#FF0000;
}

#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 8;
	background-color: #000!important;
	opacity:0;
	
}

#modal_container {  
	padding:5px;  
    background-color:#fff;  
    border:1px solid #666;  
    overflow:auto;  
	font-family:"Lucida Grande",Verdana;  
    font-size:12px;  
    color:#333;  
    text-align:center;  
 } 
 
 #modal_overlay {  
     background-color:#000;  
}  

.panelTable{
	color: #006699;
	background-color: #FFFFFF;
	border: 1px solid #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
	width: 80px;
}
