/* 
    Document   : css
    Created on : 9/10/2012, 01:35:44 PM
    Author     : usrsig15
    Description:
        Purpose of the stylesheet follows.
*/

btnvariablegeo { 
    display: block;
    width: 100px;
    height: 100px;
}
#contenedor{
    margin: auto;
    
}

