/* 
    Document   : videos
    Created on : 18/09/2012, 03:31:57 PM
    Author     : usrsig15
    Description:
        Purpose of the stylesheet follows.
*/
ul{
    text-align: left;
}
#panelizquierdo { 
    float:left;
    padding-right: 50px;
  /* border: 2px solid #00dCC;*/
   
   
}

#panelderecho{
    float:left;    
    /*border: 2px solid #00ffCC;*/
    
}
#cabezote, #footer{
    margin: auto;
    text-align: center;
}
li{
    cursor: pointer;
    font-style: italic;
}
#tablacontenido{
    text-align: left;
    font-size: 14px;
    /*border: 2px solid #09dCC;*/
}
iframe{
border: 0px;
/*background-color: transparent;*/
}
#contenedor{
    width:1000px;    
    min-height: 700px;
    margin: auto;
    text-align: center;
   /*  border: 2px solid #00aaCC;*/
        
}
