/* 
    Document   : erosion
    Created on : 14/09/2012, 08:31:52 AM
    Author     : usrsig15
    Description:
        Purpose of the stylesheet follows.
*/

#message { 
    border: 2px solid #FF9900;
    background-color: #fc8;
    font-size: 1.0em;
    text-align: center;
    font-weight: bold;
    width: 400px;
    margin: auto;
    
}
#contenedor{
    margin: auto;
    text-align: center;
}
body{
    padding-top: 20%;
}