
table#catalogo{
        background-color: #fff;
	border: 1px solid #ddd;
	empty-cells: show;
	font-size: 80%;
	margin: 0 10px 20px 20px;
	padding: 8px;
	text-align: left;
}

table#catalogo caption {
	color: #777;
	margin: 0 0 5px 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
}

table thead th {
	border: 0;
	border-bottom: 1px dashed #ddd;
	color: #777;
	font-size: 100%;
	padding: 4px 6px;
	margin: 0 0 5px 0;
	text-align: center;
        
        
}

tbody tr.odd {
	background-color: #f7f7f7;
}

tbody tr.even {
	background-color: #fff;
}

table#catalogo tbody tr:hover {
	background-color: #ffe08e;
}

table#catalogo tbody td {
	color: #888;
	padding: 2px 6px;
	border: 0;
}

table#catalogo tbody tr:hover td {
	color: #444;
}

table#catalogo tfoot tr {
	padding: 8px;

	
}

table#catalogo tfoot td {
	border: 0;
	border-top: 1px dashed #ddd;
	color: #777;
	font-size: 100%;
	padding: 17px 8px 3px;
	margin: 3px 0 5px 0;
	text-align: left;
}
a#boton {
	color: #888;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	margin: 6px;
	border-left: 1px dotted;
	border-right: 1px dotted;
	border-bottom: 1px dotted;
	border-top: 1px dotted;
}

a:link {
	color: #888;
	font-weight: bold;
	text-decoration: none;
	
}

a:visited {
	color: #888;
	font-weight: bold;
	text-decoration: none;
	
}

a:hover {
	color: #444;
	text-decoration: none;

}
a#boton {
	color: #888;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	margin: 6px;
	border-left: 1px dotted;
	border-right: 1px dotted;
	border-bottom: 1px dotted;
	border-top: 1px dotted;
	

}

a#boton:visited {
	color: #888;
	font-weight: bold;
	text-decoration: none;
	
}

a#boton:hover {
	color: #444;
	text-decoration: none;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
}


table tbody.formulario td.texto {
	background-color: #f7f7f7;
}

table tbody.formulario td{
		color: #444;
		padding: 2px 6px;
		border: 0;
                text-align: center;
                	
}
.coleccion{
    width: 100%;

}

input,.bton{
font-size:12px;
font-family:Tahoma,Verdana,Arial;
/*border:1px solid #003300;*/
}

.fdo{
    background-color: #d7edfb; 
}



table#ffilter{
        color:#006666;
        background-color: #f7f7f7;
        border: 1px solid #ddd;
	empty-cells: show;
	font-size: 12px;
	margin: 0px;
	padding: 15px 3px 8px 15px;
	text-align: left;
}
table#ffilter tfoot td {
	color:#006666;
        border: 0;
	background-color: #f7f7f7;
	font-size: 100%;
	padding: 9px 8px 6px;
	margin: 3px 0 5px 0;
	text-align: center;
}
table#ffilter td {
	padding: 1px 2px;
	border: 0;
}
a#links:link{
    font-size:14px;
    color: #006666;
    font-weight:normal;
    text-decoration: none;        
}
a#links:hover {
        font-size: 14px;
        color: #1a5477;
        font-weight: normal;
	text-decoration: none;

}
a#links:visited {
        font-size: 14px;
        color: #006666;
        font-weight: normal;
	text-decoration: none;
	
}

