<table width="464" align="left" height="191" cellpadding="0" class=''>
  <tr>
    <td width="105" rowspan="2" align="center"><a href="http://siam.invemar.org.co/siam/sipein/index.jsp" target="_blank"><img border="0" src="plantillaSitio/img/logosipein.png" width="70" height="64" alt="sibm" /></a></td>
    <td width="153"><a href="http://siam.invemar.org.co/siam/sipein/index.jsp" target="_blank" class="itemsubmenu">Informaci&oacute;n Pesquera- Cienaga Grande de Santa Marta-</a></td>
    <td width="110" rowspan="2"><a href="http://gis.invemar.org.co/anh_caladerospesca/" target="_blank"><img border="0" src="plantillaSitio/img/caladeroPesca.png" width="87" height="65" alt="sibm" /></a></td>
    <td width="124"><a href="http://gis.invemar.org.co/anh_caladerospesca/" target="_blank" class="itemsubmenu">ANH -Caladeros Pesca.</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="124">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2" align="center">&nbsp;</td>
    <td>&nbsp;</td>
    <td rowspan="2" align="center">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
