<div class='ventanascroll' style="padding-top:15px;">
<table width="544" align="left"  class='tablacenter' border='0'>  
  <tr>
    <td width="64"  align="center"><a href="http://siam.invemar.org.co/siam/geoportal/index.jsp" target="_blank" ><img border="0" src="plantillaSitio/img/icon_geoportalsiam.png" width="64" height="64" alt="Geoportal" /></a></td>
    <td width="160"><a href="http://siam.invemar.org.co/siam/geoportal/index.jsp" target="_blank" class="itemsubmenu">Geoportal Siam</a></td>
     <td  style="text-align:center"><a href="http://gis.invemar.org.co/ssdsamp/" target="_blank" ><img border='0' src="plantillaSitio/img/logosam.png" width="64" height="64" alt="ssdsamp" /></a></td>
     <td style=""><a href="http://gis.invemar.org.co/ssdsamp/" target="_blank" class="itemsubmenu">Geovisor SSDSAMP</a></td> 

  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
    <td  style="text-align:center"><a href="http://gis.invemar.org.co/geovisoranh/" target="_blank" ><img border='0' src="plantillaSitio/img/Layers.png" width="64" height="64" alt="sibm" /></a></td>
	<td style=""><a href="http://gis.invemar.org.co/geovisoranh/" target="_blank" class="itemsubmenu">Geovisor ANH Biodiversidad</a></td>
    <td   style="text-align:left"><a href="http://gis.invemar.org.co/redcam_colombia/" target="_blank"><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="redcam" /></a></td>
    <td style=""><a href="http://gis.invemar.org.co/redcam_colombia/" target="_blank" class="itemsubmenu">Geovisor REDCAM</a></td>
    
  </tr> <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td align="center"><a href="http://gis.invemar.org.co/PERCaribe/" target="_blank" ><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="sibm" /></a></td>
    <td><a href="http://gis.invemar.org.co/PERCaribe/" target="_blank" class="itemsubmenu">Geovisor  Planificaci&oacute;n Ecorregional Caribe</a></td>
    <td><a href="http://gis.invemar.org.co/PERPacifico/" target="_blank" ><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="sibm" /></a></td>
    <td><a href="http://gis.invemar.org.co/PERPacifico/" target="_blank" class="itemsubmenu">Geovisor  Planificaci&oacute;n Ecorregional Pac&iacute;fico</a></td>
  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
    <td align="center"><a href="http://gis.invemar.org.co/anh_caladerospesca/" target="_blank"><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="sibm" /></a></td>
    <td><a href="http://gis.invemar.org.co/anh_caladerospesca/" target="_blank" class="itemsubmenu">Geovisor  Caladeros de Pesca.</a></td>
    <td><a href="http://gis.invemar.org.co/arcjamaica/" target="_blank"><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="anhjamaica" /></a></td>
    <td><a href="http://gis.invemar.org.co/arcjamaica/" target="_blank" class="itemsubmenu">Geovisor ARC Jamaica</a></td>
  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr >
    <td align="center"><a href="http://gis.invemar.org.co/sigma_geo/" target="_blank"><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="manglares" /></a></td>
    <td><a href="http://gis.invemar.org.co/sigma_geo/" target="_blank" class="itemsubmenu">Geovisor Manglares CGSM</a></td>
    <td style=""><a href="http://gis.invemar.org.co/erosioncostera/" target="_blank"><img border="0" src="plantillaSitio/img/Layers.png" width="64" height="64" alt="red cam" /></a></td>
    <td style=""a href="http://gis.invemar.org.co/redcam_colombia/" target="_blank" class="itemsubmenu"><a href="http://gis.invemar.org.co/erosioncostera/" target="_blank">Geovisor Erosi&oacute;n Costera</a></a></td>
  </tr>
  </table>
</div>