<div class="ventanascroll">
<table width="562" align="left" height="191" border="0" cellpadding="0" cellspacing="2" class=''>
  <tr>
    <td width="105" rowspan="2" align="center"><a href="http://www.invemar.org.co/cambioclimatico" target="_blank"><img border="0" src="plantillaSitio/img/Climares.png" width="64" height="64" alt="Climares" /></a></td>
    <td width="153"><a href="http://www.invemar.org.co/cambioclimatico" target="_blank" class="itemsubmenu">	
Portal de c&aacute;mbio clim&aacute;tico de los mares y costas de colombia</a></td>
    <td width="110" rowspan="2" align="left"><a href="http://cinto.invemar.org.co/samp/" target="_blank"><img  border="0" src="plantillaSitio/img/logosam.png" width="64" height="64" alt="samp" /></a></td>
    <td width="124"><a href="http://cinto.invemar.org.co/samp/" target="_blank" class="itemsubmenu">Subsistema de Areas  Marinas Protegidas de Colombia</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="124">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
    <td rowspan="2" align="center"><a href="http://cinto.invemar.org.co/anh/" target="_blank"><img border="0" src="plantillaSitio/img/anhinvemar.png" width="64" height="64" alt="ANH Evaluación biodiversidad" /></a></td>
    <td><a href="http://cinto.invemar.org.co/anh/" target="_blank" class="itemsubmenu">&Aacute;reas significativas para la biodiversidad marina en el Caribe continental. (Proyecto ANH - INVEMAR) </a><a href="http://cinto.invemar.org.co/anh/" target="_blank" class="itemsubmenu"><br />
    </a></td>
    <td rowspan="2" align="left"><a href="http://cinto.invemar.org.co/rla7012/" target="_blank"><img border="0" src="plantillaSitio/img/miszcaribe.png" width="64" height="64" alt="RLA 07/12" /></a></td>
    <td><a href="http://cinto.invemar.org.co/rla7012/" target="_blank" class="itemsubmenu">Aplicaci&oacute;n de t&eacute;cnicas nucleares en la soluci&oacute;n de problemas espec&iacute;ficos del MIZC en el Caribe </a><a href="http://siam.invemar.org.co/siam/servicios.jsp#" target="_blank" class="itemsubmenu"></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr style='display:none'>
    <td rowspan="2" align="center"><a href="http://red.invemar.org.co/" target="_blank"><img border="0" src="plantillaSitio/img/redcentros.png" width="64" height="64" alt="Red de Centros de Investigacion " title="Red de Centros de Investigación" /></a></td>
    <td><a href="http://red.invemar.org.co/" target="_blank" class="itemsubmenu">Red de Centros de Investigaci&oacute;n</a></td>
    <td rowspan="2" align="left"></td>
    <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
