<table width="576" align="left" height="191" cellpadding="0" class=''>
  <tr>
      <td width="89" rowspan="2" align="center"><a href="http://cinto.invemar.org.co/siam/redcam/index.jsp" target="_blank"><img border="0" src="plantillaSitio/img/redcam.png" width="87" height="65" alt="Calidad Ambiental" /></a></td>
    <td width="134"><a href="http://cinto.invemar.org.co/siam/redcam/index.jsp" target="_blank" class="itemsubmenu"> Sistema de soporte a la REDCAM <br> Red de Vigilancia <br />de la Calidad Ambiental Marina. </a></td>
    <td width="89" rowspan="2"><a href="http://cinto.invemar.org.co/argos/login.jsp" target="_blank"><img border="0" src="plantillaSitio/img/argos.png" width="87" height="65" alt="RedCAM Vigilancia para la conservación y protección de las aguas marinas y costeras de Colombia" /></a></td>
    <td width="254"><a  target="_blank"  href="http://cinto.invemar.org.co/argos/login.jsp">ARGOS - Sistema 
de Soporte Multitem&aacute;tico<br /> para el Monitoreo Ambiental.</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="254">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
    <td rowspan="2" align="center"><a href="http://siam.invemar.org.co/siam/sismac/index.jsp" target="_blank"><img border="0" src="plantillaSitio/img/icon_sismac.png" width="89" height="67" alt="sismac" /></a></td>
    <td><a href="http://siam.invemar.org.co/siam/sismac/index.jsp" target="_blank" class="itemsubmenu">SISMAC - Sistema de <br />soporte al monitoreo las &aacute;reas coralinas.</a></td>
    <td rowspan="2" align="center"><a href="http://cambioclimatico.invemar.org.co/sistema-de-consulta-de-informacion-ambiental-goos" target="_blank"><img  border="0" src="plantillaSitio/img/EstacionesMeteorologicas.png" width="87" height="65" alt="Monitoreo clima" /></a></td>
    <td><a href="http://cambioclimatico.invemar.org.co/sistema-de-consulta-de-informacion-ambiental-goos" target="_blank" class="itemsubmenu">Estaciones meteorol&oacute;gicas y oceanogr&aacute;ficas operadas por INVEMAR</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="254">&nbsp;</td>
  </tr>
  <tr>  
   <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
     <td rowspan="2" align="center"><a href="http://siam.invemar.org.co/siam/manglares/" target="_blank"><img border="0" src="plantillaSitio/img/ManglaresCienaga.png" width="89" height="67" alt="Manglares" /></a></td>
    <td><a href="http://siam.invemar.org.co/siam/manglares/" target="_blank" class="itemsubmenu">  Sistema de <br />soporte al monitoreo de manglares CGSM.</a></td> 
    <td rowspan="2" align="center"><a href="http://sigma.invemar.org.co" target="_blank"><img border="0" src="plantillaSitio/img/sigmalogo.png" width="89" height="67" alt="SIGMA" /></a></td>
    <td><a href="http://sigma.invemar.org.co" target="_blank" class="itemsubmenu"> (SIGMA) Sistema de <br />informaci&oacute;n para la gesti&oacute;n de manglares de Colombia.</a></td> 
  </tr>
</table>
