<table width="578" align="left" height="191" cellpadding="0" class=''>
  <tr>
    <td width="105" rowspan="2" align="center"><a href="http://www.invemar.org.co/cambioclimatico/pcategorias.jsp?idcat=145" target="_blank"><img src="plantillaSitio/img/Climares.png" width="86" height="65" border="0" alt="Climares" /></a></td>
    <td width="153"><a href="http://www.invemar.org.co/cambioclimatico/pcategorias.jsp?idcat=145" target="_blank" class="itemsubmenu">Investigaci&oacute;n impacto del <br />
      c&aacute;mbio clim&aacute;tico en los mares y costas de Colombia</a></td>
    <td width="110" rowspan="2" style=''><a href="http://www.invemar.org.co/erosioncostera" target="_blank"><img src="plantillaSitio/img/icon_costero.png" width="65" height="65" alt="Costero" border="0" cellpadding="0" /></a></td>
    <td width="124" style=''><a href="http://www.invemar.org.co/erosioncostera" target="_blank" class='itemsubmenu' >Investigación en erosion<br /> costera en Colombia</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="124">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td rowspan="2" align="center">&nbsp;</td>
    <td>&nbsp;</td>
    <td rowspan="2" align="center">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
