<table width="400px"  height="191" style="position:relative;top:0px;left:-90px" >
  <tr>
    <td width="105" rowspan="2"  style="text-align:center"><a href="http://siam.invemar.org.co/siam/sibm/index.jsp?idsitio=6&amp;idsubsitio=1" target="_blank"><img src="plantillaSitio/img/icon_sibmv2.jpg" width="87" height="65" alt="sibm"  border="0"/></a></td>
    <td width="153"><a href="http://siam.invemar.org.co/siam/sibm/index.jsp?idsitio=6&amp;idsubsitio=1" target="_blank" class="itemsubmenu">SIBM - ITA Inventarios y Taxonom&iacute;a
 <br />    </a></td>
    <td width="110" rowspan="2"><a href="http://siam.invemar.org.co/siam/sismac/index.jsp?idsitio=1" target="_blank" ><img border="0" src="plantillaSitio/img/icon_sismac.png" width="89" height="67" alt="sibm" /></a></td>
    <td width="124"><a href="http://siam.invemar.org.co/siam/sismac/index.jsp?idsitio=1" target="_blank" class="itemsubmenu">SISMAC - Sistema de soporte<br />
      al monitoreo de las &aacute;reas coralinas.</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="124">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><HR  class="lineaseparacion"></td>
  </tr>
  <tr>
    <td rowspan="2"  style="text-align:center"><a href="http://www.invemar.org.co/invasoresmarinos/" target="_blank"><img src="plantillaSitio/img/icon_especiesintroducidas.png" width="87" height="65" alt="sibm" border="0" /></a></td>
    <td><a href="http://www.invemar.org.co/invasoresmarinos/" target="_blank" class="itemsubmenu">Especies Marinas <br />
      Introducidas <br /> Pez Le&oacute;n</a></td>
    <td rowspan="2"  style="text-align:center"><a href="http://siam.invemar.org.co/siam/ccbm/ccbm_consultaPV1.jsp" target="_blank" ><img src="plantillaSitio/img/icon_ceparios.png" width="87" height="65" alt="sibm"  border="0" /></a></td>
    <td><a href="http://siam.invemar.org.co/siam/ccbm/ccbm_consultaPV1.jsp" class="itemsubmenu" target="_blank">Cepario Colombiano <br />
      de Bacterias Marinas</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
