<table width="464" align="left" height="191" border="0" cellpadding="0" cellspacing="2" class=''>
  <tr>
    <td width="105" rowspan="2" align="center"><a href="http://www.invemar.org.co/psubcategorias.jsp?idsub=213&idcat=121" target="_blank"><img  border="0" src="plantillaSitio/img/redcostera.png" width="64" height="64" alt="sibm" /></a></td>
    <td width="153"><a href="http://www.invemar.org.co/psubcategorias.jsp?idsub=213&idcat=121" target="_blank">RedCostera - Red Nacional de Manejo Integrado de Zonas Costeras <img border="0" src="plantillaSitio/img/twitter.png" width="16" height="16" alt="twiter" /><img border="0" src="plantillaSitio/img/rss.png" width="16" height="16" alt="twiter" /></a></td>
    <td width="110" rowspan="2"><a href="http://www.coastman.net.co/" target="_blank"><img border='0' src="plantillaSitio/img/coatman.png" width="64" height="64" alt="sibm" /></a></td>
    <td width="124"><a href="http://www.coastman.net.co/" target="_blank" class="itemsubmenu">COASTMAN - Red Global para el manejo integrado de zonas costeras</a></td>
  </tr>
  <tr>
    <td></td>
    <td width="124"></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2" align="center"><a href="http://cinto.invemar.org.co/samp/index.php?option=com_content&view=article&id=158&Itemid=63" target="_blank"><img  border="0" src="plantillaSitio/img/Logo_boletin_SAMP.png" width="64" height="64" alt="SAMP" /></a></td>
    <td><a href="http://cinto.invemar.org.co/samp/index.php?option=com_content&view=article&id=158&Itemid=63" target="_blank">Bolet&iacute;n SAMP </a></td>
    <td rowspan="2" align="center"></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
