<table style="height:255px;width:550px">
    <tbody>
        <tr>
            <td style="width: 10px;">
                <a  href="http://www.igac.gov.co" target="_blank">
                    <img   src="plantillaSitio/img/LogoIGAC.png" width="64" height="64" alt="IGAC" />
                </a>
            </td>
            <td style="width: 100px;">
                <a href="http://www.igac.gov.co" target="_blank">
                    <span >Instituto Geografico <br/>Agust&iacute;n Codazzi
                    </span>
                </a>
            </td>
            <td style="width: 10px;">
                <a href="http://www.cioh.org.co/" target="_blank">
                    <img    src="plantillaSitio/img/logocioh.jpg" width="64" height="64" alt="sibm" />
                </a> 
            </td>
            <td style="width: 100px;">
                <a href="http://www.cioh.org.co/" target="_blank" class="itemsubmenu">
                    <span class="labelmenu">Centro de Investigaciones <br/>Oceanogr&aacute;ficas e Hidrol&oacute;gicas <br/>de Colombia - CIOH
                    </span>
                </a> 
            </td>   
        </tr>
        <tr>
            <td style="width: 10px;" >
                <a href="http://www.clmeproject.org/" target="_blank">
                    <img   class="iconomenu" src="plantillaSitio/img/CLMPE.png" width="64" height="64" alt="IGAC" />                
                </a>
            </td>
            <td><a href="http://www.clmeproject.org/">Caribbean Large <br/>Marine Ecosystem Project
            </td>
            <td style="width: 10px;">
                <a href="http://nowcoast.noaa.gov/" target="_blank">
                    <img  class="iconomenu" src="plantillaSitio/img/noaalogo.gif" width="64" height="64" alt="IGAC" />              
                </a>
            </td>
            <td style="width: 100px;">
                <a href="http://nowcoast.noaa.gov/" >Web Mapping to Real-Time Coastal <br/>Observations and NOAA Forecasts</a>
            </td>

        </tr>
    </tbody>
    <!--    
     <div id="row1">
         <div class="col1">
         </div>
         <div class="col2">         
         </div>
     </div>  
     <div id="row2">
         <div class="col1">            
         </div>
         <div class="col2">           
         </div>
     </div>  -->

</table>
