<table width="971" border="0" cellpadding="00">
  <tr>
    <td width="367"><table width="273" border="0" cellpadding="00">
      <tr>
        <td width="127" align="center"><a href="http://www.siac.gov.co/portal/default.aspx" target="_blank"><img  align="middle" border='0' src="plantillaSitio/img/iconsiac.png" width="119" height="56" alt="iconsiac" /></a></td>
        <td width="140" align="center"><a href="http://siatac.siac.net.co/web/guest/inicio" target="_blank"><img border="0" src="plantillaSitio/img/iconsiactac.png" width="119" height="56" alt="siac at" /></a></td>
      </tr>
      <tr>
        <td align="center"><a href="http://www.siac.net.co/web/sib/home" target="_blank"><img  border="0" src="plantillaSitio/img/iconsib.png" width="119" height="56" alt="sibm" /></a></td>
        <td align="center"><a href="http://www.gobiernoenlinea.gov.co/web/guest;jsessionid=B1A84E14EFA658C24E3DCB260E045CCA" target="_blank"><img  border="0" src="plantillaSitio/img/icongel.png" width="119" height="56" alt="gobierno en linea" /></a></td>
      </tr>
    </table></td>
    <td width="298" id='noticia1'><table width="345px" border="0" align="center" cellpadding="00" cellspacing="0" class='zonanoticias'>
      <tr>
        <td width="26" >&nbsp;</td>
        <td width="199" class="imagennoticias" >&nbsp;</td>
        <td height="74" >Noticias SIAM</td>
      </tr>
      <tr>
        <td height="45" colspan="3" class="textonoticias"><%=tituloNoticia%></td>
      </tr>
      <tr>
        <td colspan="2" align="right"></td>
        <td width="120" height="60" ><a href="<%=urlnoticia%>" target="_blank"><img src="plantillaSitio/img/boton-noticias.png" alt="ver mas" border="0"/></a></td>
      </tr>
    </table></td>
    <td width="298" id='noticia2'><table width="345px" height="190" border="0" align="center" cellpadding="00" cellspacing="0" class='zonanoticias'>
      <tr>
        <td width="42" >&nbsp;</td>
        <td width="160"  class="imagennoticias">&nbsp;</td>
        <td height="74" >Noticias SIAM</td>
      </tr>
      <tr>
        <td height="54" colspan="3" class="textonoticias">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="right"></td>
        <td width="143" height="60"  ><a href="<%=urlnoticia2%>" target="_blank"><img border="0" alt='boton de noticias' src="plantillaSitio/img/boton-noticias.png"/></a></td>
      </tr>
    </table></td>
  </tr>
</table>

