#modalPage
{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px; left: 0px;
}
.modalBackground
{
  filter: Alpha(Opacity=40); -moz-opacity:0.4; opacity: 0.4;
  width: 100%; height: 100%; background-color: #999999;
  position: absolute;
  z-index: 500;
  top: 0px; left: 0px;
}
.modalContainer
{
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  z-index: 750;
  
}
.modal
{
  background-color: white;
  border: solid 2px black; position: relative;
  top: -150px;
  left: -150px;
  z-index: 1000;
  width: 300px;
  height: 300px;
  padding: 0px;
  
}
.modalTop
{
  width: 292px;
  background-color: #00BFD5;
  padding: 4px;
  color: #ffffff;
  text-align: right;
}
.modalTop a, .modalTop a:visited
{
  color: #ffffff;
}
.modalBody
{
  padding: 10px;
  overflow-x:auto;
}

