/* 
    Document   : theme
    Created on : 13/04/2012, 01:42:38 PM
    Author     : usrsig15
    Description:
        Purpose of the stylesheet follows.
*/

span{
    color:white;
    font-weight: bold;
}
.tablecell{
    display: table-cell;
}

.tablerow{
    display: table-row;
    
}

