<div align="right">
<table width="100%" border="0" align="center">
  <tr>
    <td colspan="3">
      <div align="center"><font face="Arial, Helvetica, sans-serif" size="3"><b><font color="#1A5477" size="2">Sistema
              de Informaci&oacute;n sobre Biodiversidad Marina (SIBM)</font></b></font></div>
    </td>
  </tr>
  <tr>
    <td colspan="3"><H2 align="center"><font color="#006666" face="Arial, Helvetica, sans-serif">Museo de Historia Natural Marina de Colombia</font><br>
        <img src="../images/tit_siam.jpg" width="100%" height="10"></H2>
	</td>
  </tr>
  <tr>
    <td colspan="3"></td>
  </tr>
</table>
</div>
