/* ---------- Global ---------- */

body {
	background-color: #ffffff;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a {
	color: #D05B00;
}

a:hover,
a:focus {
	color: #06C;
}

.obscured,
#skip-to-content,
#heading .company-title span,
#heading .community-title,
#heading .page-title,
#navigation h1,
#breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

/* ---------- Wrapper ---------- */

#wrapper {

	margin: 43px auto;
	position: relative;
	width: 940px;
}

/* ---------- Skip to content ---------- */

#skip-to-content:focus {
	left: auto;
	right: 0;
	top: -2.4em;
}

/* ---------- Banner ---------- */

#heading {
	margin-bottom: 53px;
	min-height: 40px;
}

#heading .company-title {
	margin: 0;
}

/* ---------- Sign In ---------- */

#sign-in {
	background: url(../images/custom/login_icon.png) no-repeat 3px 50%;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: -1em;
}

/* ---------- Navigation ---------- */

#navigation {
	position: absolute;
        top:130px;
}

#navigation ul {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #10354A;
	background-image: -moz-linear-gradient(#215172, #10354A);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #215172), color-stop(1.0, #10354A));
	border: 1px solid;
	border-color: #597D95 #506E82 #879AA5;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#215172', EndColorStr='#10354A');
	float: right;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#navigation li,
#navigation a {
	display: inline-block;
	position: relative;
}

#navigation a {
	color: #FFF;
	outline: 0;
	padding: 11px 13px;
	text-decoration: none;
}

#navigation .selected a,
#navigation a:hover,
#navigation a:active,
#navigation a:focus {
	color: #BBB;
}

#navigation a:active,
#navigation a:focus {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #154661;
	background-image: -moz-linear-gradient(#1D4663, #154661);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #1D4663), color-stop(1.0, #154661));
	border-radius: 3px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#1D4663', EndColorStr='#154661');
}

#navigation a:active span,
#navigation a:focus span {
	position: relative;
	top: 2px;
}



.article h1 {
	color: #215172;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.125;
	margin: 0 0 12px;
}

.article h2 {
	color: #484A4C;
	font-size: 1em;
	line-height: 1.125;
	margin: 0 0 12px;
}

.article p {
	line-height: 1.7;
}
