#contenedor{
    padding-top:150px;
    padding-bottom:250px;
    padding-right:650px;
    padding-left:150px;
    width:350px;

}
#granulometria
{
    border:3px solid #ccccaa;
    width:150px;
    height:150px;
    float:left;
    margin:10px;
    margin-left:40px;
    background-image: url('../img/granulometria.JPG');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC   
}
#granulometria:hover{	
        background-image: url('../img/mouseovergranulometria.JPG');
}
#oceanografia{
    border:3px solid burlyWood;
    width:150px;
    height:150px;
    float:left;
    margin:10px;
    margin-left:40px;
    background-image: url('../img/oceano2.jpg');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC

}
#oceanografia:hover{	
        background-image: url('../img/mouseoveroceano2.jpg');
}
#actividadeseconomicas{
    border:3px solid burlyWood;
    width:150px;
    height:150px;
    float:right;
    margin:10px;
    margin-right:60px; 
    background-image: url('../img/blancoynegroactividadeseconomicas2.jpg');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC
}    
#meteorologia{
    border:3px solid burlyWood;
    width:150px;
    height:150px;
    float:right;
    margin:10px;
    margin-right:60px;  
    background-image: url('../img/meteorolgia.JPG');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC 
}
#consultaespacial{
    border: 1px solid burlywood; 
    float:left;  
    width:150px;
    height: 150px;
    background-image: url('../img/blancoynegrocosultaespacial.png');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC 
}
#consultatematica{
    border: 1px solid burlywood; 
    float:right;  
    width:150px;
    height: 150px;
    background-image: url('../img/consultatabulartematica.png');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC

}
#consultatematica:hover{	
        background-image: url('../img/mouseoverconsultatabulartematica.png');
}
#geomorfologia{
    border:3px solid burlyWood;
    width:150px;
    height:150px;
    float:right;
    margin:10px;
    margin-right:60px;    
    background-image: url('../img/blancoynegrogemorfologia.PNG');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align:bottom;
    display: block;
    cursor:pointer;
    background-color:#DECFBC;
    position: relative;
}
#geologia{
    border:3px solid burlyWood;
    width:150px;
    height:150px;
    float:left;
    margin:10px;
    margin-left:40px; 
    background-image: url('../img/geologia.jpeg');
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    vertical-align:bottom;
    display: block;
    cursor:pointer;
    background-color:#DECFBC
}
#geologia:hover{	
        background-image: url('../img/mouseovergeologia.jpeg');
}
#sedimentologia
{
    border: 1px solid burlywood; 
    float:right;
    position:relative;
    left:10px;
    width:150px;
    height:150px;
    background-image: url('../img/earth.png');
    background-repeat:no-repeat; 
    background-position:center;	 
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor:pointer;
    background-color:#DECFBC;
}
#enconstruccion{
    margin:auto;
    background-image:url('../img/sitioenconstruccion.gif');
    background-repeat:no-repeat;
    display:block;
    width:500px;
    height:600px;
}
a{ 
    display:block;	
    position:relative;
    top:90%;
    text-decoration:none;
    color:#960;
    font-weight: bold;
}
#sedimentologia:hover{	
    background-image: url('../img/earth_v2.png');  
}
#ocenanografia:hover{
    background-image: url('../img/sedimentologia_v2.png');
}
body,td,th{
    margin: 0px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 9.5px;
}
div{
    position:relative;
}
#contenedorestadistico {
    margin: 0px;
    padding: 0px;

}
#cabecera {
    border: 0px solid olive; 
    text-align: center;
}
#menu {
    float: left;
    width: 15%;
}
#dashboard_div {
    float: left;
    width: 30%;
    border: 0px solid brown;
}
#contenido #principal {
    float: left;
    width: 40%;
    border: 0px solid blue;
}
#contenido #secundario {
    float: right;
    width: 40%;
    border: 0px solid #960;
}

#pie {
    clear: both;
    border: 0px solid cyan; 
    
    margin: auto;
    text-align: center;
}
#chart2,#chart3{
    width: 150px;
}
#table1{
    width: 80%;
    float:right;   
    
}
#cabecera div{

}
h1{
    margin: auto;
   text-align: center;
}
body
{
margin: 20px;  
font-size: 12px;
}
em{
 text-align: center;
 margin:auto;
 font-size: 12px;
 font-weight: bold;
}
#mensaje{
    display: none;
    font-size: 20px;
    text-align: center;
    
}


