<div align="center"><font color="#FFFFFF" size="2" face="Geneva, Arial, Helvetica, sans-serif"><font color="#000000"><br></font></font><font color="#000000" size="1">
          </font><font color="#000000" size="2">          </font>          
</div>
<table width="100%" height="35" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2"><img src="images/shim.gif" width="5" height="5"></td>
  </tr>
  <tr>
    <td width="21" height="25" bgcolor="#096A95"><div align="center"/>
    </td>
    <td width="729" bgcolor="#173F89"><div align="center"><font color="#FFFFFF" size="2" face="Geneva, Arial, Helvetica, sans-serif">&copy; 
        Derechos reservados Instituto de Investigaciones Marinas y Costeras &#8220;Jos&eacute; 
        Benito Vives de Andr&eacute;is INVEMAR&#8221; 2007<br>
        <strong></strong></font></div>
    </td>
  </tr>
  <tr>
    <td colspan="2"><div align="center"><img src="images/shim.gif" width="5" height="5"></div>
    </td>
  </tr>
</table>



