/* 
    Document   : theme
    Created on : 15/08/2012, 08:39:26 AM
    Author     : usrsig15
    Description:
        Purpose of the stylesheet follows.
*/
#header { 
    /*background-image: url("../img/header.png");*/
    /*background-size: auto;*/
    /*background-repeat: no-repeat;*/
    min-height: 100px;
    text-align: left;
    background-color: #E1EEF0;

}

#footer{
    /*background-image: url("../img/footer.png");*/
    background-repeat: no-repeat;  
    background-size: auto;
    min-height: 193px; 
    margin: auto;
    float:clear;
    text-align: center;
}
#tablaestadistica{
    overflow: scroll;
}
#tabladatos{
    border-color:   #0091B4;
    font-size: 10px;   
    color:#0077AF;
    margin:0px;   
    overflow-y: auto;
}
#tabladatos th{
    background-color: #9DD29C;
    padding:1px;
    color:black;
    border:1px solid white;

}
#tabladatos td{
    color:black;
    padding:1px;
    border-color: white;
    color:white;
    /*border:1px solid white;*/
    text-align: center;
}

#headertabla{
    /*background-color: #00BBD4;*/
    background-color: #C5DFE7;


}
.rowtabla{
    border-bottom-color: black /*0091B4*/; 
}
#datos{
    border:1px;

}
#content{
    min-height: 420px;
    background-color: #E5E2DB;
    border:0px solid #558500;  
    height:auto;   
    overflow-y: hidden;
    overflow-x: auto;

}
#visualizador{
    float:right;
    border:0px solid #558500;
    width: 78%;
    height:100%;   
    text-align: left;
}
#panel{
    float: left;
    border:0px solid #008000; 
    padding: 0px;
    width: 20%;
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
    /*background-color: #00BBD4;*/
    background-color: #399797;
    border: 4px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 4px;
    position: relative;
    color:white;
    min-height: 250px;

}
#paneltabla{    
    border:0px solid #008000; 
    padding: 0px;     
    margin-top:10px;
    margin-bottom: 10px;    /*background-color: #00BBD4;*/
    background-color: #399797;
    border: 4px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 4px;
    position: relative;
    color:white;

}
#grafica{
    width: 100%;   
    min-height:300px;
    min-width: 100%;
    border: 0px;
    background-color: #E5E2DB
}
iframe
{
    border: 0px;
    width:500px;
    height:400px;
}
iframe.body{
    border: 0px;
}
#titulotransecto, #tituloparcelas, #tituloproyeto,
#tituloregion,#titulodepartamento,#titulosector,#panelvariables,
#titulovariable,#panelespecies,#tituloespecie,#tituloestaciones{
    display:none
}
.error{
    color:red;
}
#generarReporte{
    display: none;

}
#titituloestadistica{
    font-weight: bold
}
#panelayuda{
    font-weight: bold;
}

#tituloproyeto{
    display: none;
}
#menu{
    /*background-color:#00BBD4;*/
    background-color:#5FA54F;
    min-height: 15px;
    background-image: url("../img/fondo_navegacionsuperior.jpg");
    /*background-image: url("../img/bk_navsup2.jpg");*/

}
#migapanmanglar{
    min-height: 15px;  
    /*background-color:#F2F2F0;*/
    background-color:#399797;
}
#logoinvemar{
    padding-left:15px;
    padding-top: 20px;
    width:230px;
    height:100px;   
    float:left;

}
#logomaglar{
    padding-left:10px;
    /*width:230px;
    height:100px;*/
}
#content,#piepagina,#migadepan,#videtoturial,#tutorial{
    padding-left:10px;

}
#logoinvemar{
    padding-left: 100px;
}
#linea{
    /*background-color:#00BBD4;*/
    background-image: url("../img/cabezotenovedades4.jpg");
    min-height: 16px;
}
body{
    background-color:#DEDEDE;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
    font-family: arial,sans-serif;   
    font-size: 11px;
    /*min-height: 150px;*/
}
#generarReporte{

    /*background: none repeat scroll 0 0 #888888;*/
    /*background-color: #9DD29C;*/
    /*border-color: -moz-use-text-color #AAAAAA ;*/
    /*border-radius: 4px 4px 4px 4px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;*/
    color: black;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: normal;   
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}
#textopiepagina{
    float:left;
    width: 600px;
    color:#0077AF;
    text-align: justify;
    font-weight: bold;
    font-family: arial,sans-serif;
    font-size: 11px;
    padding-top: 10px;

}
#logocalidad{
    float:right;
    padding-right: 50px;
    padding-top: 10px;
}
select{
    border:1px solid #0a0 ;
    border-radius: 4px 4px 4px 4px;
}
#context{
    display: none;
}
#exportaexcel{
    width: 20px;
    height: 20px;
    cursor:pointer;
    border: 0px;
    padding-right: 10px;
}
#menuopciones{
    display:none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
#titulo{
    color:#025975;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-left: 20px;
    margin-top:75px;
    float:left;

}
#logos{
    height: 150px;
}
#logomads{
    width:150px;
    height: 100px;
    float:right;
    padding-right: 50px;
    padding-top:20px;
}
#nivelregiones{
    display: none;
}
#migadepan{
    text-align: left;    
    margin: 5px;
}
#botongeovisormanglar,#botonestructura{
    float: left;
    border-radius: 4px 4px 4px 4px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    cursor: pointer;
    border: 4px solid #FFFFFF;
    width: 300px;
    height: 280px;
}
#panelbotongeovisormanglar{
  
    margin-right: 60px;   
    width: 451px;
    height:280px;
    float:right;
   
}
#botongeovisormanglar{
    /*padding-left: 50px;*/
    background-image: url("../img/botongeovisor.jpg");    
    width: 451px;
    height:280px;

}
#botonestructura{
    padding-left: 150px;
    background-image: url("../img/botonmanglar.jpg"); 
  

}
#panelbotones{
    margin-top: 50px;
}
#titulobotonestructura{
    height: 30px;
    background: url(../img/barratitulobotones.png) repeat scroll 0 0 transparent;
    width: 452px;   
    padding: 0;
    color: white;
    margin: 230px 0 0;
    position: absolute;
    font-family: "Trebuchet MS";
    font-size: 99.9%; 
    font-weight: bold;
    padding: 3px;

}
#titulobotonmanglar{
    height: 30px;
    background: url(../img/barratitulobotones.png) repeat scroll 0 0 transparent;
    width: 452px;   
    padding: 0;
    color: white;
    margin: 230px 0 0;
    position: absolute;
    font-family: "Trebuchet MS";
     font-size: 99.9%; 
    font-weight: bold;
    padding: 3px;

}
div#migadepan a,#ubicacionactual,#textotutorial{

    color: #666666;
    font-weight: bold;
   
    
}
a:visited,a:link{
    color:#2C8AB7;
}
#menu2{
    float:right;
    border:2px solid #008000;
    width:100px;
    height:50px;
}
#textomigapan{
    float: left;
    width:100px;
    height: 50px;
    border:2px solid #008500;
}
#tutorial,#videotutorial{
    float:right;
    width: 50px;
    height: 50px;
    padding-right: 100px;
    
   
}
#videotutorial{
    display: none;
}
#textotutorial{
    float:right;
    padding-top:5px;
}
#tutorial{
    padding-top: 0px;
    border: 0px;
}


    

