#wrap {
	width: 1050px;
	margin: 15px auto;
	overflow: hidden;
	}

/*#demo, #about {
	width: 500px;
	float: left;
	}

#demo {
	margin: 30px 0 0;
	}

/*#about {
	padding: 0 50px 0 0;
	_padding: 0 48px 0 0;
	}*/

/* target IE7 and IE6 
*:first-child+html pre {
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}
/** html pre {
	overflow: visible;
	overflow-x: auto;
	width: 480px;
	}*/


span.note, span.note a {
	color: #aaa;
	}

span.note a:hover {
	color: #4f4f4f;
	}

#options {
	border: 1px solid #aaa;
	width: 100%;
	margin: 0 0 10px 1px;
	}

#options td, #options th {
	padding: 5px 7px;
	font-size: 1.1em;
	border: 1px solid #aaa;
	}

#options th {
	font-weight: bold;
	background: #efefef;
	}

#action {
	background: #E5EDF7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	_height: 1%;
	overflow: auto;
	padding: 40px 0 25px;
	margin: 40px 0 40px;
	}

#action p {
	text-align: center;
	padding: 0 70px;
	}

#action p.note, #action p.note a {
	color: #7592b5;
	}

#action p.note a:hover {
	color: #2D6CBE;
	}
/*
#download {
	padding: 0 0 10px;
	margin: 0 0 1.6em;
	line-height: 40px;
	}

#download a, a.submit {
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -1px;
	padding: 10px 17px;
	color: #fff;
	text-decoration: none;
	background: #2D6CBE url(http://imgur.com/uwhV4.png) repeat-x 0 -25px;
	_background-image: none;
	text-shadow: -1px -1px #153f75;
	border: 2px solid #1e5398;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
	}

a.submit {
	background-position: 0 -36px;
	font-size: 1.1em;
	letter-spacing: 0;
	padding: 5px 12px;
	}
#download a:hover, a.submit:hover {
	background-color: #1e5398;
	border-color: #153f75;
	color: #fff;
	}

/*#donate {
	background: #f2f7fc;
	margin: 25px 30px 0;
	padding: 15px 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius;
	}*/
	
/*#donate p {
	padding: 0;
	margin: 0;
	}

#donate form {
	text-align: center;
	margin: 10px 0 0;
	}


/*#emailform {
	background: #efefef;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	_height: 1%;
	overflow: auto;
	margin: 40px 0 0;
	padding: 0 30px 15px;
	}
#emailform label {
	display: block;
	font-weight: bold;
	}
#emailform .email_updates label {
	display: inline;
	}
.email_name, .email_address {
	width: 205px;
	float: left;
	padding: 0 30px 0 0;
	}
.email_address {
	padding-right: 0;
	}
.email_name input, .email_address input {
	border: 1px solid #aaa;
	float: left;
	font-size: 1.3em;
	padding: 5px 5px;
	width: 193px;
	}
.email_message textarea {
	border: 1px solid #aaa;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.3em;
	padding: 5px 5px;
	width: 428px;
	}

.email_submit {
	margin: 25px 0;
	}

#status.error {
	background: #ce4141;
	_height: 1%;
	overflow: auto;
	padding: 5px 15px 0;
	}
#status.error p, #status.error li {
	color: #fff;
	margin-bottom: .4em;
	}




/*-- jShowOff module styles --*/
jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	}
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;
	background-color: #0077AF;
	color: #fff;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	}
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #fff;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #fff;
	color: #000;
	}
p.jshowoff-controls {
	background: #aaa;
	overflow: auto;
	height: 1%;
	padding: 0 0 5px 5px;
	margin: 0;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	}
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #000;
	}

#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	background: #efefef;
	position: relative;
	overflow: hidden;
	width: 650px;
	height: 200px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	}
.jshowoff {
		width:650px;
	margin: 0px 0;
margin-right: 70px;
	}
.jshowoff div {	
		width: 650px;
	height: 200px;
	}
.jshowoff div, .jshowoff img, .jshowoff {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	}
.jshowoff div p, .jshowoff div h2 {
	_background-color: #efefef;
	}
.jshowoff h2, .jshowoff p {
	font-size: 18px;
	padding: 15px 20px 0px;
	margin: 0;
	}
.jshowoff p {
	font-size: 13px;
	line-height: 15px;
	}
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	}
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;
	background-color: #0077AF;
	color: #fff;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	}
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #fff;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #fff;
	color: #000;
	}
p.jshowoff-controls {	
    background-image: url("../images/galeria.png");
	overflow: auto;
	height: 1%;
	padding: 0 0 5px 5px;
	margin: 0;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	}
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #fff;
	}


/*-- Re-styled Thumbnail Demo --*/

.thumbFeatures p.jshowoff-slidelinks {
	background: #000;
	bottom: 0;
	padding: 5px 0 5px 5px;
	right: 113px;
	height: 32px;
	}
.thumbFeatures .jshowoff-slidelinks a {
	display: block;
	width: 60px;
	height: 30px;
	background-color: none;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	padding: 0;
	border: 1px solid #4f4f4f;
	text-indent: -10000em;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	}
.thumbFeatures .jshowoff-slidelinks a.jshowoff-active {
	border: 1px solid #fff;
	}
.thumbFeatures .jshowoff-slidelink-0 {
	background-image: url("../images/imagesGuajira/imagen_01.jpg");
	}
.thumbFeatures .jshowoff-slidelink-1 {
	background-image: url("../images/imagesGuajira/imagen_02.jpg");
	}
.thumbFeatures .jshowoff-slidelink-2 {
	background-image: url("../images/imagesGuajira/imagen_03.jpg");
	}
.thumbFeatures .jshowoff-slidelink-3 {
	background-image: url("../images/imagesGuajira/imagen_04.jpg");
	}
.thumbFeatures .jshowoff-slidelink-4 {
	background-image: url("../images/imagesGuajira/imagen_05.jpg");
	}
        .thumbFeatures .jshowoff-slidelink-5 {
	background-image: url("../images/imagesGuajira/imagen_06.jpg");
	}
         .thumbFeatures .jshowoff-slidelink-6 {
	background-image: url("../images/imagesGuajira/imagen_07.jpg");
	}
	    .thumbFeatures .jshowoff-slidelink-7 {
	background-image: url("../images/imagesGuajira/imagen_08.jpg");
	}
	    .thumbFeatures .jshowoff-slidelink-8 {
	background-image: url("../images/imagesGuajira/imagen_09.jpg");
	}
.thumbFeatures p.jshowoff-controls {
	background-image: url("../images/galeria.png");
	height: 38px;
	overflow: visible;
	padding: 0;
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 150;
	
	}
.thumbFeatures .jshowoff-controls a {
	display: block;
	width: 22px;
	height: 38px;
	background: none;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	text-indent: -10000em;
	position: absolute;
	}

.thumbFeatures .jshowoff-controls a.jshowoff-prev {
	left: 15px;
	background-image: url("/images/imagesGuajira/Coral-Carijoa riisei DSCN0925_jpg.jpg");
	}
.thumbFeatures .jshowoff-controls a.jshowoff-next {
	right: 15px;
	background-image: url("images/imagesGuajira/Coral-Carijoa riisei DSCN0925_jpg.jpg");
	}
.thumbFeatures .jshowoff-controls a.jshowoff-play {
	display: none;
	}
.jshowoff.thumbFeatures {
	height: 250px;
	}
.jshowoff.thumbFeatures div, .jshowoff.thumbFeatures img, .jshowoff.thumbFeatures {
	-webkit-border-radius: 6px;
	}