.mensaje{
   background-color:#D5E6EB; 
   border:2px solid #00BED5;
}

html
{
	margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	
}
body
{
	    margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		background-image: url('../img/fondosiam.jpg');
		background-repeat:repeat-x;
		
		
}
.headerTexto
{
	font-family: "Trebuchet MS";
	color:#FFF;
	font-size:11px;
	text-align:left;	
	font-weight:bold;
	text-decoration:none;
	
}
.migadepan{

	font-family: "Trebuchet MS";
	color:#666;
	font-size:11px;
	text-align:left;	
	font-weight:bold;
	text-decoration:none;
	word-spacing: normal;
	
}
#boton1
{
    font-family: "Trebuchet MS";
	color:#FFF;
	font-size:10px;	
	font-weight:bold;
	text-align:center;		
	cursor: pointer;
	text-transform:uppercase;
	
}
a
{
	color:#FFF;
	text-decoration:none;
}
#boton2
{
	font-family: "Trebuchet MS";	
	font-size:10px;	
	font-weight:bold;
	text-align:center;	
	cursor: pointer;
	text-transform:uppercase;
	
	
}
#boton3
{
	font-family: "Trebuchet MS";	
	font-size:9px;	
	font-weight:bold;
	text-align:center;	   
	cursor: pointer;
	background-image: url('../img/sombra-links-superiorc.png');
	text-transform:uppercase;
	background-repeat:no-repeat;
    background-position: center;
}
.out {
	background-repeat:no-repeat;
background-position: center;
background-image: url('../img/sombra-links-superiorb.png');
text-decoration:none;
}

.over {
	background-repeat:no-repeat;
background-position: center;
background-image:  url('../img/sombra links superior.png') ;
text-decoration:none;
}

.menuprincipal
{
	background-repeat:no-repeat;
	text-align:center;	
}
.header
{
  background-image:url('../img/headercontentv3.png');
  background-repeat:no-repeat;  
  /*background-position:center;  */
    margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;

  
}
.tablaCenter
{
background-image:url('../img/fondomaincontent.jpg');
margin-top:0px;



}
.lineafondo
{
background-image:url('../img/lineafondo.jpg');
background-repeat:repeat;
}
.menuSecundario
{
  background-image:url('../img/modulodemenuizq.jpg');
  background-repeat:no-repeat;
}
.opcionMenu
{
	padding-left:25px;
	background-image:url('../img/opcionmenu.jpg');
	height:37px;
	background-repeat:no-repeat;
	
}
.tituloMenuSecundario
{
    color:#fff;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	vertical-align:middle;
	text-align:center;	
	background-image:url('../img/encabezadomenu.jpg');
	background-repeat:no-repeat;
	height:54px;
}
.footermenu
{
	padding-left:25px;	
	height:53px;
	background-repeat:no-repeat;    
	background-image:url('../img/footermenu.jpg');
	background-repeat:no-repeat;
	
}
.opcionlinkmenusecundario
{
	color:#055A6E;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	
	text-align:left;
	text-decoration:none;
}
.footersitio
{
	background-image:url('../img/footerv2.jpg');
	width:949px;
	height:185px;	
	background-repeat:no-repeat;
}
.fondoheader
{
/*background-image:url('../img/headerfondoprincipal.jpg');	*/
background-repeat:repeat-y;
}
.fondocontenido
{
background-image:url('../img/fondomaincontent.jpg');	
background-repeat:repeat-x;
height:591px;
}
.fondofooter
{
background-image:url('../img/fondofooter.jpg');	
background-repeat:repeat-x;
height:258px;
width:1101;
}
.textfooter
{
	text-align:right;
	color:#004E76;
	text-transform:uppercase;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding-right:50px;
}
.itemsubmenu
{
	color:#666;
	font-weight:bold;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;		
	text-align:justify;
	font-style:normal;
	text-decoration:none;
	
	
	
}
.itemtituloitemsubmenu, itemsubmenu
{
	color:#666;
	font-weight:bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;	
}
.tablaitemsubmenu
{
	    margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
}
.lineaseparacion
{
	width:100%;
	text-align:center;
	border-bottom-style:dotted;
	color:#036;
}
.ventanascroll
{
	overflow-y:auto; 
	overflow-x:auto;
	scrollbar-arrow-color:#00B8D2; 
}
