.headerTexto
{
	font-size: 	85.7%;
    font-family: "Trebuchet MS";
	color:#FFF
	
}
.MENU_HORIZONTAL
{
	font-size: 	55.7%;
	font-family: "Trebuchet MS";	
	color:#FFF;
	background:url(../img/sombra-links-superiorb.png) no-repeat scroll top;
    cursor:pointer;
	font-weight:bold;
	padding:2PX;
	text-align:center;
	text-transform:uppercase;
	width:125xp;
	height:50xp
	
	
}
.MENU_HORIZONTAL:hover
{

   background:url(../img/sombra%20links%20superior.png) no-repeat scroll top;
}



.headerCabezote
{
	 background: url(../img/headercontent.jpg) no-repeat scroll top;
}
.footerImg
{
	 background: url(../img/footer.jpg) no-repeat scroll center;
}
