.Tfila {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
	background-color: #CCCCCC;
	text-align: left;
	vertical-align: top;
}
.Tfichacepa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	background-color: #E6E6E6;
	background-position: left top;
}
