<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets" >   
    <h:head>         
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <script type="text/javascript" src="../js/monitoreo.js"></script>
    </h:head>
    <h:body >
        <h:form enctype="multipart/form-data" > 
            <p:breadCrumb id="mybredcrumbs">  
                <p:menuitem value="Categorias" url="#" /> 
                <p:menuitem value="Modulo ingreso de datos" url="/redcam/siam_cam.jsp" />  
                <p:menuitem value="Salir" url="/redcam/estadisticas/menuOpcionesPrivadas.jsp?salir=ok" />  
            </p:breadCrumb>
            <p:tabView id="tabView" dynamic="true">  
                <p:ajax event="tabChange" listener="#{controladorarchivoscargados.controlSession}" />  
                <p:tab title="(1. Paso) Descargue plantilla de carga de datos."> 
                    <h:panelGrid columns="2" cellpadding="10" border="0">  
                        <h:outputText  
                            value="Para poder iniciar el proceso de carga de nuevos datos para REDCAM es necesario que descargue los referentes y descargue la plantilla de datos. Esta plantilla de referentes contiene informaci&oacute;n actualizada de la DB REDCAM." />
                        <p:graphicImage value="/redcam/cargadordatos/img/Excel-icon.png" width="100px" height="100px"  />

                        <p:commandButton actionListener="#{controladorarchivoscargados.actualizarPlantillaDatos}" ajax="" update="likDescargaarchivos,likDescargaarchivos2,msgdes,ind1,ind2,ind3,ind4,ind5,ind6,ind7,ind8,ind9" id="iconOnly" icon="ui-icon-disk" title="Generar plantilla" value="Generar plantilla"/><br/>
                        <h:outputLink  id="likDescargaarchivos" value="#{controladorarchivoscargados.rutaDatosReferencia}" target="_blank" style="#{controladorarchivoscargados.myStyleLinkDescarga}">
                            <p:graphicImage value="/redcam/cargadordatos/img/Excel-icon.png"  url="#{controladorarchivoscargados.rutaDatosReferencia}" width="50px" height="50px"  />
                            <h:outputText value="Plantilla de datos de referencia" />
                        </h:outputLink>
                        <br/>
                        <h:outputLink  id="likDescargaarchivos2" value="#{controladorarchivoscargados.rutaPlantillaDatos}" target="_blank" style="#{controladorarchivoscargados.myStyleLinkDescarga}">
                            <p:graphicImage value="/redcam/cargadordatos/img/Excel-icon.png" url="#{controladorarchivoscargados.rutaDatosReferencia}" width="50px" height="50px"  />
                            <h:outputText value="Plantilla para carga de datos" />
                        </h:outputLink>
                        <h:outputLink  id="msgdes" value="" target="_blank" style="#{controladorarchivoscargados.myStyleMensajeDescarga}">
                            <p:graphicImage value="/redcam/cargadordatos/img/error.png" width="50px" height="50px"  />
                            <h:outputText value="#{controladorarchivoscargados.mensajeError}" />
                        </h:outputLink>
                        <h:outputText id="ind1" value="Indicaciones:"  style="#{controladorarchivoscargados.myStyleLinkDescarga}"/><br/>
                        <h:outputText id="ind2" value="1. Descargue los dos archivos y ub&iacute;quelos en un mismo lugar (En la misma carpeta)." style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>
                        <h:outputText id="ind3" value="2. Abra el archivo 'Plantilla de datos de referencia'. (Active las macros al abrirlo)." style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>    
                        <h:outputText id="ind4"     value="3. Presione las teclas  Ctrl+d.  Esto activar&aacute; la macro que copia los referentes del archivo 'Referentes.xlsm' al archivo 'PlantillaRedCam.xlsm'. " style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>
                        <h:outputText id="ind5"     value="4. Cuando el proceso termine,guarde los cambios en el archivo 'PlantillaRedCam.xlsm'" style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>
                        <h:outputText id="ind6"     value="5. Una vez modificado el archivo 'PlantillaRedCam.xlsm' puede iniciar el registro de muestras." style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>    
                        <h:outputText id="ind7"     value="5. Cuando termine el proceso de registro de muestra,aseg&uacute;rese de tener activado las macros del archivo y  presione la combinaci&oacute;n de teclas Ctrl+k.Esto activar&aacute; la macro que genera el archivo csv con las muestras.  " style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>    
                        <h:outputText id="ind8"     value="6. Pase al paso 2." style="#{controladorarchivoscargados.myStyleLinkDescarga}" /><br/>    
                        <h:outputText id="ind9"     value="Nota. Los archivos deben quedar nombrados como 'Referentes.xlsm'  y 'PlantillaRedCam.xlsm'. " style="#{controladorarchivoscargados.myStyleLinkDescarga};color:red" />


                    </h:panelGrid>  
                </p:tab>  
                <p:tab title="(2. Paso) Cargue de datos." >  

                    <h:panelGrid columns="3" cellpadding="10">  
                        <p:graphicImage value="/redcam/cargadordatos/img/csv.png" />  
                        <h:outputText value="Seleccion el archivo 'csv' generado con la macro del archivo de plantilla descargado." />  



                    </h:panelGrid>  
                    <p:fileUpload fileUploadListener="#{controladorarchivoscargados.upload}"  
                                  mode="advanced"  
                                  update="logmsg0,logmsg1,msgcarga"                                  
                                  label="Seleccione archivo csv."                                                                    
                                  auto="true"                                   
                                  sizeLimit="100000000"   
                                  allowTypes="/(\.|\/)(gif|jpe?g|csv)$/"  />  


                    <p:growl id="messages" showDetail="true"/> 

                    <h:outputLink  id="logmsg0" value="#{controladorarchivoscargados.logFile}" target="_blank" style="#{controladorarchivoscargados.mistyleErrores}">
                        <h:outputText value="Consulte los erorres de la carga" />
                    </h:outputLink><br/>

                    <h:outputLink  id="logmsg1" value="#{controladorarchivoscargados.badfieldFile}" target="_blank" style="#{controladorarchivoscargados.mistyleErrores}">
                        <h:outputText value="Consulte los registros con errores" />
                    </h:outputLink>

                    <h:outputLink  id="ayudalink" value="http://cinto.invemar.org.co/siam/redcam/cargadordatos/ayudaErroresCargaDatos.docx" target="_blank" style="#{controladorarchivoscargados.mistyleErrores}">
                        <h:outputText value="Archivo de ayuda." />
                    </h:outputLink> 

                    <br/>
                    <h:outputText  id="msgcarga" value="Los datos se han cargado con exito."   style="#{controladorarchivoscargados.mystyleExito}"  >
                    </h:outputText>

                </p:tab>  
            </p:tabView> 
        </h:form> 
    </h:body>  
</html>
